<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>
    <head>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/login.css">
</head>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                


                    <form method="POST" action="/login">
                        
                      <div class="col-md-4">
                        <label for="validationCustomUsername" class="form-label">Nombre de Usuario</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" aria-describedby="inputGroupPrepend" required>
                          <div class="invalid-feedback">
                           Porfavor, elegi tu nombre de usuario
                          </div>
                        </div>
                      </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name= "contrasena" id="contrasena">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                      </form>
                
                
            
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>