label{
    color: rgb(0, 0, 0);
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Kaisei Tokumin', serif;
    font-weight: bolder;
    text-decoration: none;
}
.form{
    left: 50%;
}
.uk-container>:last-child{
    margin-bottom: 35%;
}