.info-usuario .foto-perfil{
    border-radius: 50%;
}

.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}

.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
}
.uk-width-1-2{
    color: white;
}
p{
    color: white;
}