.info-usuario .foto-perfil{
    border-radius: 50%;
    width: 160px;
    box-shadow: 0px 0px 10px black;
}

.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
    font-weight: bold;
}

.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}
.uk-width-1-2{
    color: black;
}
p{
    color: black;
}
.descripcion{
    color: black;
    font-style: italic;
}
.uk-flex-column {
    flex-direction: column;
    position: relative;
}

.twitter{
    position: absolute;
    left: 170px;
    top: -15px;
}
.uk-button:not(:disabled) {
    cursor: pointer;
    left: 90px;
    position: absolute;
    top: 5.9px;
}
.usuario{
    position: absolute;
    left: -15px;
    top: -50px;
    width: 60px;
}
.botondefollow{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#164e97;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    }
 .botondeunfollow{
        text-decoration:none;
        font-weight: 600;
        font-size: 20px;
        color:#333333;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        background-color:#ce1d1d;
        border-color: #d8d8d8;
        border-width: 3px;
        border-style: solid;
        border-radius:35px;
        }