
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300;500&family=Kaisei+Tokumin&display=swap');

*{
    box-sizing: border-box;
}
main{
    margin-bottom: 40px;
}
.uk-background-primary{
   background-color:black !important;
}
.uk-container .uk-container-large{
    background-color: blanchedalmond;
}
body a {
    color: rgb(78, 132, 218);
    font-family: 'Alumni Sans', sans-serif;
font-family: 'Kaisei Tokumin', serif;
font-weight: bolder;

}
body h1{
    font-family: 'Alumni Sans', sans-serif;
font-family: 'Kaisei Tokumin', serif;
font-family: 'Lato', sans-serif;
}
body a:hover{
    text-decoration: underline;
    color: rgb(70, 70, 255);
}
p{
    font-family: 'Alumni Sans', sans-serif;
font-family: 'Kaisei Tokumin', serif;
font-family: 'Lato', sans-serif;
font-family: 'Mulish', sans-serif;
}
.uk-container{
    background-color: black;
}
.uk-section{
    background-color:black;
}