article.post{
    box-shadow: 0px 0px 30px #000;
    border-radius: 20px;
    margin-bottom: 20px;
}

article.post div.info-usuario{
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
article.post div.info-usuario img{
    border-radius: 400px;
    padding: 9px;
    height: 79px;
    width: 79px;
}
article.post div.info-usuario h4{
   margin: 9px -3px;
}

article.post div.post-body{
    
    border-bottom:rgb(0, 0, 0)
}
.post-body a{
    display:block;
    width: 100%;
    text-align:justify;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

article.post div.post-reacciones ul.post-icons{
    padding-top: 10px;
    padding-right: 30px;
    list-style-type: none;
}

article.post div.post-reacciones div.post-pie{
    padding-left: 20px;
    border-bottom: 1px solid rgb(214, 105, 16);
}
article.post div.post-reacciones div.post-pie h5{
    margin: 10px;
}
article.post div.post-reacciones div.post-pie p{
    margin: 0;
}
article.post div.post-comentarios {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
article.post div.post-comentarios h6{
    margin-bottom: 0;
}
article.post div.post-comentarios ul{
    list-style: none;
    margin-top: 5px
}
article.post div.post-comentarios ul li{
    display: flex;
}
article.post div.post-comentarios ul li a{
   
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}
article.post div.post-comentarios ul li p{
    margin: 2 5px;
}
.uk-width-2-6{
    font-size: 20px !important;
    margin: 0%;
    margin-left: 60%;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Mulish', sans-serif;
    color: rgb(195, 160, 0);
}
.usuario{
    padding: 15px;
    text-decoration: none;
}

.uk-width-1-6{
    font-size: 20px;
}